.flexer {
	display: flex;
	justify-content: center;
	/*flex-flow: row wrap;*/
	padding-left: 5vw;
	padding-right: 5vw;
	/*border-radius: 10px;*/
    background-color: rgba(140, 220, 200, 0.6);
	padding: 3vh;
	margin-left: 12vw;
	margin-right: 12vw;
	box-shadow: 5px 5px 10px #444;
	border: 2px solid black;
}